:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
    --azul:#304352;
    --rosa:#e44c65;
}

.wrapperBotones{
    margin: 5px;
}

.wrapperBotones .boton{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--rosa);
    padding: 6px 12px;
    border-radius: 8px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transform: scale(0);
    transform: scale(0);
}

.card.m-2.p-2:hover .boton {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}

.card:hover {
    color: var(--white);
    background: var(--azul);
}